## Unidade 01 - Avaliação 01

- **Aluno**: --preencher o nome completo--
- **Matrícula**: --preencer com a matrícula--

<br>
<div class="alert alert-info">
<b>Avisos.</b>
</div>


1. O notebook deverá ser renomeado para o nome completo do aluno seguindo o formato: Ivanovitch_Medeiros_Dantas_da_Silva.ipynb
2. Todas as questões devem ser respondidas através de códigos escritos em linguagem Python e no espaço destinado para esse fim. Criem células Markdown para destacar quando inicia e termina as questões. 
3. O notebook resultante deverá ser enviado através do Sigaa conforme tarefa cadastrada pelo professor. Ressalta-se que após o horário de final da aula, a submissão da tarefa estará fechada no Sigaa. 
4. O arquivo da base de dados não deve ser alterado.

## Base de dados

Nessa avaliação será utilizado a base de dados referente ao desempenho dos alunos do Instituto Metropole Digital em disciplinas do núcleo comum do curso de Bacharelado em Tecnologia da Informação. As informações sobre os alunos e disciplinas estão codificadas a fim de manter o anonimato e privacidade dos dados. 

A base de dados está em formato de planilha em excel. Para carregar esse arquivo em formato de **dataframe** utilizar o código abaixo: 

>```python
# Importar as bibliotecas necessárias
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()
```

In [5]:
import pandas as pd
# Atribuir o nome da planilha para a variável "arquivo"
arquivo = 'imd_notas.xlsx'
# Carregar a base de dados para um objeto pandas.io.excel.ExcelFile
excel = pd.ExcelFile(arquivo)
# Imprimir o nome das planilhas
print(excel.sheet_names)
# Carregar a planilha excel para um objeto dataframe
dados = excel.parse(0)
# Imprimir as cinco primeiras linhas do dataframe
dados.head()

[u'Notas']

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,0,59015430,2014,1,CANCELADO,2014,2,2.6,0,Reprovado,618.0
1,0,59015430,2014,1,CANCELADO,2015,1,8.0,0,Aprovado,618.0
2,1,59073120,2014,1,CANCELADO,2014,2,0.1,0,Reprovado,615.0
3,2,59072580,2014,1,ATIVO,2014,2,6.1,0,Aprovado,600.0
4,3,59088150,2014,1,ATIVO,2014,1,3.0,0,Reprovado,673.0

## a) (2.0 pontos) Investigando a base de dados

1. (0.2 pontos) Quais as colunas da base de dados?
2. (0.5 pontos)Quais colunas apresentam valores nulos (faltantes)? Em caso afirmativo, quantas linhas de cada coluna apresentam valores nulos?
3. (0.5 pontos) Quantos CEPs diferentes estão presentes na base de dados?
4. (0.4 pontos) Quantos alunos foram registrados?
5. (0.2 pontos) Qual o período em anos dos registros presentes na base de dados?
6. (0.2 ponto) Quantas disciplinas foram analisadas?

In [6]:
#1. a)
print (dados.columns)

Index([u'a_ID', u'CEP', u'ano_ingresso', u'periodo_ingresso', u'status',
       u'ano_disciplina', u'periodo_disciplina', u'nota', u'disciplina_ID',
       u'status.disciplina', u'enen-nota'],
      dtype='object')

In [9]:
#1.b)
dados.isnull().sum

,a_ID,CEP,ano_ingresso,periodo_ingresso,status,ano_disciplina,periodo_disciplina,nota,disciplina_ID,status.disciplina,enen-nota
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4812,False,False,False,False,False,False,False,False,False,False,False
4813,False,False,False,False,False,False,False,False,False,False,False
4814,False,False,False,False,False,False,False,False,False,False,False
4815,False,False,False,False,False,False,False,False,False,False,False
4816,False,False,False,False,False,False,False,False,False,False,False
4817,False,False,False,False,False,False,False,False,False,False,False
4818,False,False,False,False,False,False,False,False,False,False,False
4819,False,False,False,False,False,False,False,False,False,False,False
4820,False,False,False,False,False,False,False,False,False,False,False
4821,False,False,False,False,False,False,False,False,False,False,False
4822,False,False,False,False,False,False,False,False,False,False,False
4823,False,False,False,False,False,False,False,False,False,False,False
4824,False,False,False,False,False,False,False,False,False,False,False
4825,False,False,False,False,False,False,False,False,False,False,False
4826,False,False,False,False,False,False,False,False,False,False,False
4827,False,False,False,False,False,False,False,False,False,False,False
4828,False,False,False,False,False,False,False,False,False,False,False
4829,False,False,False,False,False,False,False,False,False,False,False
4830,False,False,False,False,False,False,False,False,False,False,False
4831,False,False,False,False,False,False,False,False,False,False,False
4832,False,False,False,False,False,False,False,False,False,False,False
4833,False,False,False,False,False,False,False,False,False,False,False
4834,False,False,False,False,False,False,False,False,False,False,False
4835,False,False,False,False,False,False,False,False,False,False,False
4836,False,False,False,False,False,False,False,False,False,False,False
4837,False,False,False,False,False,False,False,False,False,False,False
4838,False,False,False,False,False,False,False,False,False,False,False
4839,False,False,False,False,False,False,False,False,False,False,False
4840,False,False,False,False,False,False,False,False,False,False,False
4841,False,False,False,False,False,False,False,False,False,False,False

## b) (2.0 pontos) Investigando a localização dos alunos


1. (2.0 pontos) Listar a quantidade total de alunos presentes nos cinco CEPs com mais registros.

<dica - consultar as funções duplicated() e value_counts()

In [29]:
dados[~dados.a_ID.duplicated()].CEP.value_counts()[0:5].sum()

141L

## c) (6.0 pontos) Investigando o desempenho das disciplinas

1. (1 ponto) Calcular as notas médias para cada disciplina.
2. (1,5 pontos) Calcular as notas médias para cada disciplina agrupadas por ano.
3. (2,0 pontos) Calcular o número de alunos aprovados e reprovados por disciplina e agrupados por ano.
4. (1,5 pontos) Calcular a quantidade de alunos classificados de acordo com a coluna status da base de dados.

In [21]:
#c)1
import numpy as np

dados.pivot_table(index = ["disciplina_ID"], values = ["nota"], aggfunc = np.mean)

                   nota
disciplina_ID
0              4.618657
1              6.539691
2              4.713848
3              3.488725
4              5.431602
5              3.171392
6              4.067869

In [22]:
#c)2
dados.pivot_table(index = ["disciplina_ID", "ano_disciplina"], values = ["nota"], aggfunc = np.mean)

                                  nota
disciplina_ID ano_disciplina
0             2014            4.504027
              2015            4.812931
              2016            4.521799
1             2014            6.039713
              2015            7.123105
              2016            6.409059
              2017            0.000000
2             2014            5.595745
              2015            5.892720
              2016            3.423706
3             2014            3.472826
              2015            3.944318
              2016            3.200366
4             2014            6.034228
              2015            6.102899
              2016            5.555806
              2017            2.562338
5             2014            3.705263
              2015            3.752669
              2016            2.402115
6             2014            5.665323
              2015            4.080435
              2016            3.336496

In [32]:
#c)3
dados.pivot_table(index = ["disciplina_ID", "ano_disciplina", "status_disciplina"], values = ["nota"], 
                  aggfunc = count())

KeyError: 'status_disciplina'

In [ ]:
#c)(4)